[user]
	name = John Tsevdos
	email = tsevdosjohn@gmail.com
[alias]
	co = checkout
	st = status
	pr = pull --rebase
	d  = difftool
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = vim
[diff]
	tool = vim
